// В этом файле должны быть стили для БЭМ-блока field-select, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

$color-danger:                hsl(2, 64%, 58%) !default;

.field-select {

  $block-name:                &; // #{$block-name}__element

  &--error {

    #{$block-name}__name,
    #{$block-name}__select,
    #{$block-name}__help-text {
      color: $color-danger;
    }

    #{$block-name}__select {
      border-color: $color-danger;
      background-color: lighten($color-danger, 35%);
    }
  }
}
