.field-select--error .field-select__name,
.field-select--error .field-select__select,
.field-select--error .field-select__help-text {
  color: #d8544f; }

.field-select--error .field-select__select {
  border-color: #d8544f;
  background-color: #f9e2e2; }
