//- Все примеси в этом файле должны начинаться c имени блока (select2)

mixin select2(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +select2('Текст', 'some-mod')
          option(value="1") slowpo
          option(value="2") slowpo 2
          option(value="3") slowpo 3

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' select2--' + modsList[i].trim();
      }
    }

  select.select2(class=allMods)&attributes(attributes)
    block
