.js-modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  -webkit-overflow-scrolling: touch; }
  .js-modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto; }
  .modal__dialog {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%; }
    @media (min-width: 992px) {
      .modal__dialog {
        width: 600px;
        height: auto; }
        .modal--open .modal__dialog {
          animation: modal-content-show 0.3s 1 both; } }
  .modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    outline: 0; }
  .modal__header {
    padding: 0 rem(40px) 0 rem(15px);
    flex-shrink: 0; }
  .modal__title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: rem(18px);
    line-height: 1.4;
    font-weight: 700;
    color: currentColor; }
  .modal__close {
    position: absolute !important;
    top: 5px;
    right: 5px; }
  .modal__body {
    padding: 0 rem(15px);
    flex-grow: 1; }
  .modal__footer {
    padding: rem(15px);
    flex-shrink: 0; }
  .modal__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7); }
    @media (min-width: 992px) {
      .modal__backdrop {
        animation: modal-backdrop-show 0.3s 1; } }
  @media (min-width: 992px) {
    .modal--open {
      display: flex;
      justify-content: center;
      align-items: center; } }

@keyframes modal-backdrop-show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes modal-content-show {
  0% {
    opacity: 0;
    transform: translateY(-2em); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
