.main-nav {
  position: relative;
  z-index: 10; }
  .main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none; }
    @media (max-width: 991px) {
      .js .main-nav__list {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s; }
      .js .main-nav--open .main-nav__list {
        max-height: 100vh;
        transition: max-height 0.6s; } }
    @media (min-width: 992px) {
      .main-nav__list {
        display: flex;
        flex-wrap: wrap; }
        .main-nav__list--lvl-2 {
          display: block; }
        .main-nav__list--lvl-3 {
          display: block; } }
  .main-nav__item {
    position: relative; }
    .main-nav__item--active > .main-nav__link {
      color: #000; }
  .main-nav__link {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: #fff; }
    .main-nav__link:hover, .main-nav__link:focus {
      text-decoration: none;
      background-color: #e6e6e6; }
    @media (max-width: 991px) {
      .main-nav__link--lvl-2 {
        padding-left: 1.2em; } }
    @media (max-width: 991px) {
      .main-nav__link--lvl-3 {
        padding-left: 2.4em; } }
  @media (min-width: 992px) {
    .main-nav__sublist-wrapper--lvl-2 {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: opacity 0.3s; }
      .main-nav__item--show-child > .main-nav__sublist-wrapper--lvl-2,
      .main-nav__item:hover .main-nav__sublist-wrapper--lvl-2 {
        opacity: 1;
        height: auto;
        overflow: visible; } }
  @media (min-width: 992px) {
    .main-nav__sublist-wrapper--lvl-3 {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 100%;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: opacity 0.3s; }
      .main-nav__item--show-child > .main-nav__sublist-wrapper--lvl-3,
      .main-nav__item--lvl-2:hover .main-nav__sublist-wrapper--lvl-3 {
        opacity: 1;
        height: auto;
        overflow: visible; } }
  .main-nav__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none; }
    .no-js .main-nav__toggler {
      display: none; }
    @media (min-width: 992px) {
      .main-nav__toggler {
        display: none; } }
