.table {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  overflow-x: auto;
  border: 1px solid #999999; }
  .table table {
    margin: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%; }
  .table td,
  .table th {
    padding: 0.3em 0.7em;
    vertical-align: top;
    border-bottom: 1px solid #999999; }
    .table td:not(:first-child),
    .table th:not(:first-child) {
      border-left: 1px solid #999999; }
  .table th {
    text-align: left; }
  .table tbody:last-child tr:last-child td,
  .table tbody:last-child tr:last-child th,
  .table thead:last-child tr:last-child td,
  .table thead:last-child tr:last-child th,
  .table tfoot:last-child tr:last-child td,
  .table tfoot:last-child tr:last-child th {
    border-bottom: 0; }
  .table caption {
    caption-side: top;
    text-align: left;
    padding: 0.4rem 0.7em;
    border-bottom: 1px solid #999999;
    font-size: 80%;
    line-height: 1em;
    color: gray; }
