.field-actions {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .field-actions__text {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 80%;
    color: gray;
    line-height: 1.2em; }
