@-ms-viewport {
  width: device-width; }

.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%; }
  .page__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column; }
  .page__content {
    flex-grow: 1; }
  .page__footer-wrapper {
    flex-shrink: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0;
  min-height: 100%;
  background:  #F7F7F5;
  }

[tabindex='-1']:focus {
  outline: none !important; }

[role='button'] {
  cursor: pointer; }

input[type='search'] {
  -webkit-appearance: textfield; }

a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation;
  margin: 0; }

button,
input {
  overflow: visible;
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

a svg,
button svg {
  pointer-events: none; }

svg:not(:root) {
  overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #E62C0B;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
  color: #E62C0B;
}

hr {
  box-sizing: content-box;
  overflow: visible; }
