extends ../pug/layout.pug

block meta
  title Главная
block append head
  include ../blocks/cssincludes/cssincludes.pug

block content
  .block
    .center

      //-   INPUTS
      h3 input
      +inputlabel('ВАШ ТЕЛЕФОН')
        +input()

      //-   INPUT SIZE BIG
      h3 input size big
      +inputlabel('ВАШ ТЕЛЕФОН', 'big')
        +input('big')

      //-   INPUT SIZE ACCESS
      h3 input access
      +inputlabel('ВАШ ТЕЛЕФОН', 'access')
        +input()

      //-   INPUT SIZE ACCESS
      h3 input access
      +inputlabel('ВАШ ТЕЛЕФОН', 'big, access')
        +input('big')

      //-   INPUT SIZE ACCESS
      h3 input opacity effect
      +inputlabel('ВАШ ТЕЛЕФОН', 'opacity, big')
        +input('big')



      h3 button default
      +btn('Купить')

      h3 button empty
      +btn('Купить', 'empty')

      h3 button border
      +btn('Купить', 'border')

      h3 button filled
      +btn('Купить', 'filled')

      h3 button inline
      +btn('Купить', 'inline')

      h3 button accent
      +btn('Купить', 'accent')




      //-   GROUP
      div(style="background:#171820; color: #fff; padding: 0 30px 30px 30px;")
        h3 INPUT DARK THEME ))
        +fields-group('dark')
          .fields-group__item
            +inputlabel('ВАШ ТЕЛЕФОН', 'big, opacity, dark')
              +input('big')
          .fields-group__item
            +inputlabel('ВАШ ТЕЛЕФОН', 'big, opacity, dark')
              +input('big')
          .fields-group__item
            +btn('Подключите меня', 'big, accent')


      //-   GROUP
      h3 fields-group

      +fields-group()
        .fields-group__item
          +inputlabel('ВАШ ТЕЛЕФОН', 'big, access')
            +input('big')
        .fields-group__item
          +inputlabel('ВАШ ТЕЛЕФОН', 'big, access')
            +input('big')
        .fields-group__item
          +inputlabel('ВАШ ТЕЛЕФОН', 'big, access')
            +input('big')
        .fields-group__item
          +btn('Подключите меня', 'big, accent')

      //-   CHECKBOX'S
      h3 CHECKBOX'S
      +field-checkbox([
          {
            title: 'Я согласен с <a href="#">Политикой конфиденциальности</a> сайта',
            attrs: {
              name: 'check0',
            }
          },
        ])


      hr
      //- BUTTON'S TYPE
      h2 Брэнд стили
      div.row
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          h3 Билайн
          .brand1
            +btn('Купить')
            +btn('Купить', 'empty')
            +btn('Купить', 'border')
            +btn('Купить', 'filled')
            +btn('Купить', 'inline, filled')
            +btn('Купить', 'accent')
            +fields-group()
              .fields-group__item
                +inputlabel('ВАШ ТЕЛЕФОН', 'big, access')
                  +input('big')
              .fields-group__item
                +inputlabel('ВАШ ТЕЛЕФОН', 'big, access')
                  +input('big')
              .fields-group__item
                +btn('Подключите меня', 'big, accent')
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          h3 MTS
          .brand2
            +btn('Купить')
            +btn('Купить', 'empty')
            +btn('Купить', 'border')
            +btn('Купить', 'filled')
            +btn('Купить', 'inline, filled')
            +btn('Купить', 'accent')
            +fields-group()
              .fields-group__item
                +inputlabel('ВАШ ТЕЛЕФОН', 'big, access')
                  +input('big')
              .fields-group__item
                +inputlabel('ВАШ ТЕЛЕФОН', 'big, access')
                  +input('big')
              .fields-group__item
                +btn('Подключите меня', 'big, accent')
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          h3 RT
          .brand3
            +btn('Купить')
            +btn('Купить', 'empty')
            +btn('Купить', 'border')
            +btn('Купить', 'filled')
            +btn('Купить', 'inline, filled')
            +btn('Купить', 'accent')
            +fields-group()
              .fields-group__item
                +inputlabel('ВАШ ТЕЛЕФОН', 'big, access')
                  +input('big')
              .fields-group__item
                +inputlabel('ВАШ ТЕЛЕФОН', 'big, access')
                  +input('big')
              .fields-group__item
                +btn('Подключите меня', 'big, accent')
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          h3 DOMRU
          .brand4
            +btn('Купить')
            +btn('Купить', 'empty')
            +btn('Купить', 'border')
            +btn('Купить', 'filled')
            +btn('Купить', 'inline, filled')
            +btn('Купить', 'accent')
            +fields-group()
              .fields-group__item
                +inputlabel('ВАШ ТЕЛЕФОН', 'big, access')
                  +input('big')
              .fields-group__item
                +inputlabel('ВАШ ТЕЛЕФОН', 'big, access')
                  +input('big')
              .fields-group__item
                +btn('Подключите меня', 'big, accent')
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          h3 TTK
          .brand5
            +btn('Купить')
            +btn('Купить', 'empty')
            +btn('Купить', 'border')
            +btn('Купить', 'filled')
            +btn('Купить', 'inline, filled')
            +btn('Купить', 'accent')
            +fields-group()
              .fields-group__item
                +inputlabel('ВАШ ТЕЛЕФОН', 'big, access')
                  +input('big')
              .fields-group__item
                +inputlabel('ВАШ ТЕЛЕФОН', 'big, access')
                  +input('big')
              .fields-group__item
                +btn('Подключите меня', 'big, accent')


block append page-bottom
  script.
    Perfetto.init({
      0:       'inputs',
      //- 768:   'i',
    })
