.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .pagination__item {
    display: block;
    padding: 0.5rem;
    min-width: 2.5rem;
    border: 1px solid #999999;
    text-decoration: none;
    text-align: center;
    color: #1a1a1a; }
    .pagination__item + .pagination__item {
      border-left: 0; }
    .pagination__item:hover, .pagination__item:focus {
      text-decoration: none;
      color: #1a1a1a; }
    a.pagination__item:hover, a.pagination__item:focus {
      background-color: #e6e6e6; }
    .pagination__item--active {
      background-color: #e6e6e6; }
