.baron {
  position: relative;
  overflow: hidden; }
  .baron__scroller {
    overflow-y: scroll;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    padding-right: 14px;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch; }
    .baron__scroller::-webkit-scrollbar {
      width: 0;
      height: 0; }
  .baron__track {
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    right: 0;
    width: 14px;
    background-color: #e6e6e6; }
    .baron--scrollbar .baron__track {
      opacity: 1; }
  .baron__free {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0; }
  .baron__bar {
    display: none;
    position: absolute;
    left: -13px;
    z-index: 1;
    width: 12px;
    box-sizing: border-box;
    opacity: 1;
    pointer-events: auto;
    background: #b3b3b3; }
    .baron--scrollbar .baron__bar {
      display: block; }
    .baron--dragging .baron__bar, .baron__bar:hover {
      background-color: #999999; }
  .baron__control {
    display: none; }
