body {
  font-size: 14px;
  color: #1a1a1a;
  line-height: 1.8;
  font-family: 'euclid_flexregular';
  color: #888EA6;
  background: #F7F7F5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
/* font-weight: 700; */
line-height: 1.2;
margin:0;
font-family: 'euclid_flexbold';
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 { 
  font-family: 'euclid_flexbold';
}

h1,
h2,
h3 {
}

h4,
h5,
h6 {
}

h1 {
  font-size: 36px;
  color: #47C5CE;
  font-family: 'euclid_flexregular';
}

@media(min-width: 768px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font-size: 20px;
  color: #252836;
}

@media(min-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 14px;
  color: #202333;
  font-family: 'euclid_flexregular';
  line-height: 1.7;
}

h4 {
}

h5 {
}

h6 {
}

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul,
ol {padding: 0;margin: 0;}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: inherit;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

@media (min-width: 480px) {
  dd {
  }
}

dd+dt {
  margin-top: 0.75;
}

hr {
  border: 0;
  border-top: 1px solid #999999;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 80%;
}

mark {
  background: rgba(239, 172, 77, 0.3);
  padding: 0.1em 0.3em;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
}

code {
  padding: 0.06em 0.3em;
  color: #1a1a1a;
  background-color: rgba(0, 0, 0, 0.08);
}

kbd {
  padding: 0.06em 0.3em;
  color: #1a1a1a;
  background-color: #e6e6e6;
}

kbd kbd {
  padding: 0;
}

pre {
  display: block;
  width: 100%;
  overflow-x: auto;
  tab-size: 2;
}


.center {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.layout  {
  margin-top: 10px;
}

