.breadcrumbs {
  padding: 0;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #1a1a1a; }
  .breadcrumbs a {
    color: #1a1a1a;
    text-decoration: none; }
    .breadcrumbs a:hover, .breadcrumbs a:focus {
      color: #1a1a1a;
      text-decoration: none; }
  .breadcrumbs__item {
    display: inline-block;
    margin-right: 0.6em;
    white-space: nowrap; }
    .breadcrumbs__item:not(:last-child):after {
      content: '>';
      display: inline-block;
      margin-left: 0.8rem;
      color: gray; }
