.progress {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #999999;
  border-radius: rem(3px);
  text-align: center; }
  .progress__bar {
    background-color: #e6e6e6;
    border-radius: rem(3px);
    max-width: 100%;
    min-height: 1px;
    transition: width 0.3s; }
  .progress__bartext {
    display: inline-block;
    padding: 0.5em; }
