// В этом файле должны быть стили для БЭМ-блока progress, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

$gray-lightest:               hsl(0, 0%, 90%) !default;
$border-color:                hsl(0, 0%, 60%) !default;

$border-radius:               rem(3px) !default;

$transition-time:             0.3s !default;

.progress {

  $block-name:                &; // #{$block-name}__element

  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  text-align: center;

  &__bar {
    background-color: $gray-lightest;
    border-radius: $border-radius;
    max-width: 100%;
    min-height: 1px;
    transition: width $transition-time;
  }

  &__bartext {
    display: inline-block;
    padding: 0.5em;
  }
}
