/* ymap start */

 /*s*/
 .ymap {
  height: 200px;
 }
 /*e*/
 @media(min-width:768px){
 /*s*/

 /*e*/
 }
 @media(min-width:1024px){
 /*s*/

 /*e*/
 }
 @media(min-width:1600px){
 /*s*/

 /*e*/
 }

 /* ymap end */
