//- Все примеси в этом файле должны начинаться c имени блока (ymap)

mixin ymap(id)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +ymap('map')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' ymap--' + modsList[i].trim();
      }
    }

  .ymap(id=id)&attributes(attributes)
  script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
