/* alert start */

.alert { }

.alert__title { }

.alert__header { }

.alert__link:hover,
.alert__link:focus { }

.alert__1 { }

.alert__2 { }

/*st*/
@media(min-width:768px){

.alert { }

.alert__title { }

.alert__header { }

.alert__link:hover,
.alert__link:focus { }

.alert__1 { }

.alert__2 { }

/*st*/
}
@media(min-width:1024px){

.alert { }

.alert__title { }

.alert__header { }

.alert__link:hover,
.alert__link:focus { }

.alert__1 { }

.alert__2 { }

/*st*/
}
@media(min-width:1280px){

.alert { }

.alert__title { }

.alert__header { }

.alert__link:hover,
.alert__link:focus { }

.alert__1 { }

.alert__2 { }

/*st*/
}
@media(min-width:1600px){

.alert { }

.alert__title { }

.alert__header { }

.alert__link:hover,
.alert__link:focus { }

.alert__1 { }

.alert__2 { }

/*st*/
}

/* alert end */
