// В этом файле должны быть стили для БЭМ-блока alert, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

$gray-lighter:                hsl(0, 0%, 80%) !default;
$color-success:               hsl(120, 39%, 54%) !default;
$color-danger:                hsl(2, 64%, 58%) !default;
$color-warning:               hsl(35, 84%, 62%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;

$font-size--h3:               rem(24px) !default;

$border-radius:               rem(3px) !default;

.alert {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  padding: 0.7em 1.5em 0.7em 1.4em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius;
  color: $text-color;
  background-color: #fff;

  & > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  & > * + * {
    margin-top: 1rem;
  }

  &__header {
    display: block;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: $font-size--h3;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;

    & + * {
      margin-top: 0;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }



  &--warning {
    background-color: lighten($color-warning, 30%);
    border: 1px solid lighten($color-warning, 20%);
    color: $text-color;
  }

  // &--danger {
  //   background-color: $color-danger;
  //   border: 1px solid darken($color-danger, 10%);
  //   color: #fff;

  //   a {
  //     color: inherit;
  //     text-decoration: underline;

  //     &:hover,
  //     &:focus {
  //       text-decoration: none;
  //     }
  //   }
  // }

  // &--success {
  //   background-color: $color-success;
  //   border: 1px solid darken($color-success, 10%);
  //   color: #fff;

  //   a {
  //     color: inherit;
  //     text-decoration: underline;

  //     &:hover,
  //     &:focus {
  //       text-decoration: none;
  //     }
  //   }
  // }
}
