.or {
  display: flex;
  align-items: center; }
  .or:before, .or:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: #999999; }
  .or__inner {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 80%;
    color: #999999; }
