.btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 19px 29px 16px;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  text-transform: none;
  border: none;
  background-color: #FFD800;
  background-image: none;
  cursor: pointer;
  color: #252836;
  font-family: 'euclid_flexregular';
  width: 100%;
  font-weight: 600;
}


.btn:hover,
.btn:focus {
  text-decoration: none;
  color: #252836;;
  background-color: #FFD800;
  
}

.btn:visited {
  color: #1a1a1a;
}

.btn:active,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7);
}

.btn--disabled,
.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  color: #1a1a1a;
  background-color: #e6e6e6;
  border-color: #cccccc;
}

a.btn--disabled {
  pointer-events: none;
}

