//- Все примеси в этом файле должны начинаться c имени блока (icon)

mixin icon(name, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +icon('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    allMods = allMods + 'icon-'+name;

    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' icon--' + modsList[i].trim();
      }
    }

  span(class=allMods)&attributes(attributes)
