.field-text {
  display: block;
  margin-bottom: 1rem; }
  .field-text__name {
    display: block;
    margin-bottom: 0.4em;
    line-height: 1.5;
    font-weight: 700; }
  .field-text__input-wrap {
    display: block; }
  .field-text__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 0.3em 0.7em;
    margin: 0;
    line-height: 1.5;
    font-size: 1em;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid #999999;
    border-radius: rem(3px);
    appearance: textfield; }
    .field-text__input:focus {
      outline: 0;
      box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7); }
    .field-text__input[disabled], .field-text__input[readonly] {
      cursor: default;
      background-color: #cccccc; }
    .field-text__input[type='search']::-webkit-search-cancel-button, .field-text__input[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; }
    .field-text__input[type='color'] {
      padding: 0; }
    .field-text__input::placeholder {
      color: gray;
      opacity: 1; }
    textarea.field-text__input {
      height: auto;
      min-height: calc(3.6em + 2px);
      resize: vertical; }
  .field-text__help-text {
    display: block;
    padding-top: 0.4em;
    font-size: 80%;
    line-height: 1.2em;
    color: gray; }
    .field-text__help-text:empty {
      display: none; }
