.field-text--error .field-text__name,
.field-text--error .field-text__input,
.field-text--error .field-text__help-text {
  color: #d8544f; }

.field-text--error .field-text__input {
  border-color: #d8544f;
  background-color: #f9e2e2; }
