// В этом файле должны быть стили для БЭМ-блока swipe, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

.swipe {

  $block-name:                &; // #{$block-name}__element

  overflow: hidden;
  position: relative;
  visibility: hidden;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;

  & > div {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}
