.swipe {
  overflow: hidden;
  position: relative;
  visibility: hidden; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }
  .swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden; }
