//- Стандартный шаблон страницы
include mixins.pug
doctype html
html(class='no-js  page', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic-ext", rel="stylesheet")

    block meta
      title Home


    block head
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      script
        include ../blocks/is-mobile/is-mobile--to-head.js


  body
    noscript У вас отключен JavaScript. Это пугает.

    block content


    block page-bottom
      script(src='js/script.min.js')
      script(src='js/global-script.js')
      script(src='js/perfetto.min.js')
