//- All impurities in this file must start with the c block name (datepicker)

mixin datepicker(placeholder, val, mods)

  //- Takes:
  //-   placeholder    {string} - placeholder
  //-   mods    {string} - the list of modifiers
  //- Call:
        +datepicker(placeholder,val, mods)

  -
    // the list of modifiers
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' datepicker--' + modsList[i].trim();
      }
    }

  .datepicker(class=allMods)&attributes(attributes)
    .datepicker__input
      +field-text({val:val,attrs: {name: 'datepicker',  class:"datepickerinput", placeholder:placeholder}, type:"date"})
    .datepicker__icon
      span.icon-calendar
