/* datepicker start */

.datepicker {
  position: relative;
}

.datepicker__input {}

.datepicker__icon {
  position: absolute;
  top: 6px;
  right: 7px;
  font-size: 24px;
  color: #1d92d2;
}


/*st*/

@media(min-width:768px) {


  .datepicker {}

  .datepicker__input {}

  .datepicker__icon {}
  /*st*/
}

@media(min-width:1024px) {


  .datepicker {}

  .datepicker__input {}

  .datepicker__icon {}
  /*st*/
}

@media(min-width:1600px) {


  .datepicker {}

  .datepicker__input {}

  .datepicker__icon {}
  /*st*/
}


/* datepicker end */
