/* field radio horizontal start */


/*s*/

.field-radio--horizontal {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.field-radio--horizontal .field-radio__input-wrap {
  margin: 0;
}

.field-radio--horizontal .field-radio__input-wrap+.field-radio__input-wrap {
  margin-left: 24px;
}


/*e*/

@media(min-width:768px) {
  /*s*/
  .field-radio--media-horizontal {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  .field-radio--media-horizontal .field-radio__input-wrap {
    margin: 0;
  }

  .field-radio--media-horizontal .field-radio__input-wrap+.field-radio__input-wrap {
    margin-left: 24px;
  }

  /*e*/
}

@media(min-width:1024px) {
  /*s*/
  /*e*/
}

@media(min-width:1280px) {
  /*s*/
  /*e*/
}

@media(min-width:1600px) {
  /*s*/
  /*e*/
}


/* field radio horizontal end */
