.field-radio {
  display: block;
  padding-bottom: 4px;
}

.field-radio__title {
  display: block;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.4em;
}

.field-radio__input-wrap+.field-radio__input-wrap {
  margin-top: 23px;
}

.field-radio__name {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  /* margin-right: 0.6em; */
  font-weight: 400;
  line-height: 1.2;
}

.field-radio__name-text {
  display: inline-block;
}

.field-radio__name-text:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #e7e7e6;
  border-radius: 50%;
  background: #fff;
}

input:focus~.field-radio__name-text:before {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7);
}

.field-radio__name-text:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 12px;
  height: 12px;
  opacity: 0;
  border-radius: 50%;
  background-color: #18428c;
  transition: opacity 0.3s;
}

input:checked~.field-radio__name-text:after {
  opacity: 1;
}

.field-radio__input {
  position: absolute;
  top: 0.8em;
  left: 0;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  opacity: 0;
}

.field-radio__input:focus,
.field-radio__input:active {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7);
}

.field-radio__help-text-wrap {
  padding-left: 1.5em;
}

.field-radio__help-text {
  display: block;
  padding-top: 0.4em;
  font-size: 80%;
  line-height: 1.2em;
  color: gray;
}

.field-radio__help-text:empty {
  display: none;
}


@media(min-width:768px){

  .field-radio {
  }

  .field-radio__title {
  }

  .field-radio__input-wrap+.field-radio__input-wrap {
  margin-top: 21px;
  }

  .field-radio__name {
  padding-left: 39px;
  }

  .field-radio__name-text {
  }

  .field-radio__name-text:before {
  top: -1px;
  }

  input:focus~.field-radio__name-text:before {
  }

  .field-radio__name-text:after {
  top: 5px;
  }



  .field-radio__input {
  }


  .field-radio__help-text-wrap {
  }

  .field-radio__help-text {
  }

  .field-radio__help-text:empty {
  }


}
