.field-range {
  display: block;
  margin-bottom: 1rem;
}

.field-range__name {
  display: block;
  margin-bottom: 0.4em;
  line-height: 1.5;
  font-weight: 700;
}

.field-range__input-wrap {
  position: relative;
  display: block;
}

.field-range__input {
  align-self: center;
  padding: 0;
  width: 100%;
  height: 2rem;
  border-radius: 0.25rem;
  border: 0;
  background: none;
  font-size: inherit;
  cursor: pointer;
  appearance: none;
}

.field-range__input::-webkit-slider-runnable-track,
.field-range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.field-range__input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7);
}

.field-range__input::-webkit-slider-runnable-track {
  box-sizing: border-box;
  width: 100%;
  height: 0.75em;
  border-radius: rem(3px);
  background: #fff;
  border: 1px solid #999999;
}

.field-range__input::-moz-range-track {
  box-sizing: border-box;
  width: 100%;
  height: 0.75em;
  border-radius: rem(3px);
  background: #fff;
  border: 1px solid #999999;
}

.field-range__input::-ms-track {
  box-sizing: border-box;
  width: 100%;
  height: 0.75em;
  border-radius: rem(3px);
  background: #fff;
  border: 1px solid #999999;
  color: transparent;
}

.field-range__input::-webkit-slider-thumb {
  margin-top: -0.68em;
  box-sizing: border-box;
  padding: 0;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  box-shadow: none;
  cursor: ew-resize;
  background: #e6e6e6;
  border: 1px solid #999999;
}

.field-range__input::-moz-range-thumb {
  box-sizing: border-box;
  padding: 0;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  box-shadow: none;
  cursor: ew-resize;
  background: #e6e6e6;
  border: 1px solid #999999;
}

.field-range__input::-ms-thumb {
  box-sizing: border-box;
  padding: 0;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  box-shadow: none;
  cursor: ew-resize;
  background: #e6e6e6;
  border: 1px solid #999999;
}

.field-range__input::-ms-fill-lower,
.field-range__input::-ms-tooltip {
  display: none;
}

.field-range__help-text {
  display: block;
  padding-top: 0.4em;
  font-size: 80%;
  line-height: 1.2em;
  color: gray;
  padding-top: 0;
}

.field-range__help-text:empty {
  display: none;
}
