.tabs {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .tabs__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end; }
    .no-js .tabs__links {
      display: none; }
    @media (min-width: 768px) {
      .tabs__links:after {
        content: '';
        flex-grow: 1;
        height: 1px;
        background-color: #999999; } }
  .tabs__link-wrap {
    position: relative;
    border: 1px solid #999999;
    margin: 0 0.3em 0.3em 0; }
    @media (min-width: 768px) {
      .tabs__link-wrap {
        margin: 0; }
        .tabs__link-wrap:not(:last-child) {
          border-right: none; } }
    @media (min-width: 768px) {
      .tabs__link-wrap--active {
        border-bottom: 1px solid transparent; } }
    .tabs__link-wrap--active .tabs__link {
      color: #1a1a1a !important;
      background-color: #fff; }
  .tabs__link {
    display: block;
    padding: 0.3em 0.7em;
    color: gray;
    text-decoration: none;
    background-color: #e6e6e6; }
    .tabs__link:hover, .tabs__link:focus {
      color: gray; }
    .tabs__link:visited {
      color: gray; }
  .tabs__content-wrapper {
    display: block;
    padding: 0.3em 0.7em;
    border: 1px solid #999999; }
    @media (min-width: 768px) {
      .tabs__content-wrapper {
        border-top: none; } }
  .js .tabs__content-item {
    display: none; }
  .tabs__content-item > *:last-child {
    margin-bottom: 0; }
  .js .tabs__content-item--active {
    display: block; }
