extends ../pug/layout.pug

block meta
  title Главная
block append head
  include ../blocks/cssincludes/cssincludes.pug

block content
  .layout
    .center
     a.senspa__logo(href="#")
      img(src="img/logo.jpg")
     h1 Sensation Spa
     h2 ООО НПО "ВНИИМК
     h3 ЗАГОЛОВОК SEO-ТЕКСТА ДЛЯ ПРОДВИЖЕНИЯ И ПОИСКОВЫХ РОБОТОВ
     p Электрон, как и везде в пределах наблюдаемой вселенной, исключен по определению. Излучение, по данным астрономических наблюдений, синфазно отражает вращательный газ, но никакие ухищрения экспериментаторов не позволят наблюдать этот эффект в видимом диапазоне.

     a(href="#") Краснодар <br>

     +btn('ПОДОБРАТЬ ТАРИФ')(href="#")

     ul.list 
        li - Элемент списка 1
        li - Элемент списка 1
        li - Элемент списка 1
        li - Элемент списка 1

     span.icon-circle
     span.icon-row-left
     span.icon-row-right



block append page-bottom
  script.
    Perfetto.init({
      0:       'senspa-320',
      768:   'senspa-768'
      //1024: 'i-3',
      //1280: 'i-4'
    })
