// В этом файле должны быть стили для БЭМ-блока dropdown, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$border-radius:               rem(3px) !default;

$transition-time:             0.3s !default;

.dropdown {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  display: inline-block;

  &__menu {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    max-width: 90vw;
    width: 1px;
    margin: 0;
    background-color: #fff;
    color: $text-color;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity $transition-time;
  }



  &--open {

    #{$block-name}__menu {
      z-index: 1;
      visibility: visible;
      opacity: 1;
      width: auto;
    }
  }

  &--up {

    #{$block-name}__menu {
      top: auto;
      bottom: 100%;
    }
  }

  &--right {

    #{$block-name}__menu {
      left: auto;
      right: 0;
    }
  }
}
