.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown__menu {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    max-width: 90vw;
    width: 1px;
    margin: 0;
    background-color: #fff;
    color: #1a1a1a;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 0.3s; }
  .dropdown--open .dropdown__menu {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    width: auto; }
  .dropdown--up .dropdown__menu {
    top: auto;
    bottom: 100%; }
  .dropdown--right .dropdown__menu {
    left: auto;
    right: 0; }
