// В этом файле должны быть стили для БЭМ-блока field-file, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

$gray-lightest:               hsl(0, 0%, 90%);
$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.5 !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               rem(3px) !default;

.field-file {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 1rem;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
    position: relative;
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    &:active ~ .field-file__name-text,
    &:focus ~ .field-file__name-text {
      @include field-focus;
    }
  }

  &__name-text {
    position: relative;
    display: flex;
    align-items: baseline;
    width: 100%;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:before {
      content: attr(data-button-text);
      display: block;
      background-color: $gray-lightest;
      border-right: 1px solid $border-color;
      margin-right: $field-padding-horizontal;
      line-height: $line-height;
      padding: $field-padding-vertical  $field-padding-horizontal;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:hover,
    &:focus {

      &:before {
        background-color: darken($gray-lightest, 10%); // как у обычных кнопок
      }
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
