.field-file {
  display: block;
  margin-bottom: 1rem;
}

.field-file__name {
  display: block;
  margin-bottom: 0.4em;
  line-height: 1.5;
  font-weight: 700;
}

.field-file__input-wrap {
  display: block;
  position: relative;
}

.field-file__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.field-file__input:active~.field-file__name-text,
.field-file__input:focus~.field-file__name-text {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7);
}

.field-file__name-text {
  position: relative;
  display: flex;
  align-items: baseline;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dde1e6;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 3px 3px 3px 13px;
  position: relative;
}

.field-file__name-text:after {
  content: attr(data-button-text);
  display: inline-block;
  background-color: #1d92d2;
  line-height: 1.5;
  padding: 7px 10px;
  border-radius: 2px;
  color: #fff;
  font-family: 'GP';
  font-weight: bold;
  font-size: 12px;
  margin-left: auto;
  min-width: 76px;
  text-align: center;
}

:root .field-file__name-text:after {
  float:right\9;
}

.field-file__name-text:hover:before,
.field-file__name-text:focus:before {
  background-color: #cccccc;
}

.field-file__help-text {
  display: block;
  padding-top: 11px;
  line-height: 1.2em;
  color: gray;
  font-size: 14px;
}

.field-file__help-text:empty {
  display: none;
}
