.code {
  display: block;
  width: 100%;
  max-height: rem(500px);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  background-color: #e6e6e6;
  border-radius: rem(3px);
  border: 1px solid #cccccc;
  white-space: normal;
  tab-size: 2; }
  .code code {
    display: block;
    padding: 0;
    white-space: pre;
    background-color: transparent;
    min-height: 1em; }
