.table-responsive {
  margin-bottom: 1rem;
  border-collapse: collapse;
  border: 1px solid #999999;
  width: 100%; }
  .table-responsive caption {
    caption-side: top;
    text-align: left;
    padding: 0.4em 0.7em;
    border: 1px solid #999999;
    border-bottom: 0;
    font-size: 80%;
    line-height: 1em;
    color: gray; }
  .table-responsive td,
  .table-responsive th {
    padding: 0.3em 0.7em;
    vertical-align: top;
    border-bottom: 1px solid #999999; }
    .table-responsive td:not(:first-child),
    .table-responsive th:not(:first-child) {
      border-left: 1px solid #999999; }
  .table-responsive th {
    text-align: left; }
  @media (max-width: 767px) {
    .table-responsive {
      display: block;
      border: 0; }
      .table-responsive caption {
        display: none; }
      .table-responsive thead {
        display: none; }
      .table-responsive tbody {
        display: block;
        width: 100%; }
        .table-responsive tbody tr {
          display: block;
          border: 1px solid #999999;
          border-bottom: 0; }
          .table-responsive tbody tr:not(:last-child) {
            margin-bottom: 1.5; }
        .table-responsive tbody td {
          display: block;
          width: 100%;
          border-right: 0 !important;
          border-left: 0 !important; }
          .table-responsive tbody td:before {
            display: block;
            font-weight: 700;
            content: attr(data-label); } }
