// В этом файле должны быть стили для БЭМ-блока off-canvas, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@import '../../mixins/form-mixins.scss';
@import '../../mixins/grid-mixins.scss';
@import '../../mixins/variables.scss';

$gray-darkest:                hsl(0, 0%, 10%);

$opacity:                     0.7 !default;
$transition-time:             0.3s !default;

$toggler-part-height:         3px !default;

$off-canvas-width:            250px !default; // ширина этого блока

.off-canvas {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  overflow: hidden;

  &__aside {
    max-height: 30vh;
    overflow-y: auto;
    backface-visibility: hidden;
    background-color: $gray-darkest;
    color: #fff;
    transition: transform $transition-time ease;

    .js & {
      position: fixed;
      z-index: 2;
      width: $off-canvas-width;
      height: 100%;
      max-height: none;
      transform: translateX(($off-canvas-width * -1));
    }

    a {
      color: #fff;

      &:hover,
      &:focus {
        color: #fff;
        background-color: transparent;
      }
    }
  }

  &__page-content {
    backface-visibility: hidden;
    transition: transform $transition-time ease;
  }

  &__overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
  }



  .js &--open {

    #{$block-name}__overlay {
      position: fixed;
      z-index: 1;
      opacity: 1;
      visibility: visible;
      transition: opacity $transition-time ease;
    }

    #{$block-name}__close {
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }

    #{$block-name}__aside {
      transform: translateX(0);
    }

    #{$block-name}__page-content {
      transform: translateX($off-canvas-width);
    }
  }
}
