.comment {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .comment .comment {
      padding-left: calc(60px + 1rem); }
    .comment .comment .comment .comment {
      padding-left: 0; } }
  .comment__inner {
    display: flex; }
  .comment__avatar-wrap {
    flex-shrink: 0;
    margin-right: 1rem; }
    .comment__avatar-wrap img {
      display: block;
      width: 60px;
      height: 60px;
      object-fit: cover; }
  .comment__text {
    flex-grow: 1; }
    .comment__text *:first-child {
      margin-top: 0; }
