/* new start */



.new__head-tags { }

.new__tag:hover,
.new__tag:focus { }

/*st*/

@media(min-width:768px) {




.new__head-tags { }

.new__tag:hover,
.new__tag:focus { }

/*st*/
}

@media(min-width:1024px) {


.new__head-tags { }

.new__tag:hover,
.new__tag:focus { }

/*st*/
}

@media(min-width:1600px) {



.new__head-tags { }

.new__tag:hover,
.new__tag:focus { }

/*st*/
}


/* new end */
