/* new start */

.new__footer {
  font-size: 12px;
}

.new__footer-more {
  display: inline-block;
  margin-right: 12px;
}

.new__footer-more:hover,
.new__footer-more:focus {}


.new__footer-like:hover,
.new__footer-like:focus {}


/*st*/

@media(min-width:768px) {



  .new__footer {}

  .new__footer-more:hover,
  .new__footer-more:focus {}

  .new__footer-like:hover,
  .new__footer-like:focus {}
  /*st*/
}

@media(min-width:1024px) {



  .new__footer {}

  .new__footer-more:hover,
  .new__footer-more:focus {}

  .new__footer-like:hover,
  .new__footer-like:focus {}
  /*st*/
}

@media(min-width:1600px) {


  .new__footer {}

  .new__footer-more:hover,
  .new__footer-more:focus {}

  .new__footer-like:hover,
  .new__footer-like:focus {}
  /*st*/
}


/* new end */
