/* new head start */

.new__head {}

.new__head-icon {}

.new__head-tags {
  margin-bottom: 21px;
}

.new__tag {
  font-size: 12px;
  margin-right: 11px;
}

.new__tag:hover,
.new__tag:focus {}


/*st*/

@media(min-width:768px) {


  .new__head {}

  .new__head-icon {}

  .new__head-tags {}

  .new__tag:hover,
  .new__tag:focus {}
  /*st*/
}

@media(min-width:1024px) {


  .new__head {}

  .new__head-icon {}

  .new__head-tags {}

  .new__tag:hover,
  .new__tag:focus {}
  /*st*/
}

@media(min-width:1600px) {


  .new__head {}

  .new__head-icon {}

  .new__head-tags {}

  .new__tag:hover,
  .new__tag:focus {}
  /*st*/
}


/* new end */
