/* new start */

.new {
  border: 1px solid #ccc;
  padding: 10px;
  background: #cccccc47;
  border-radius: 3px;
}

.new__body {}

.new__photo {
  width: 100%;
  display: block;
  margin-bottom: 21px;
}

.new__text {
  margin-bottom: 11px;
  line-height: 1.3;
}


.new__head { }

.new__head-tags { }

.new__tag:hover,
.new__tag:focus { }

/*st*/

@media(min-width:768px) {


  .new {}

  .new__body {}

  .new__photo {}

  .new__text {}
  .new__head { }

.new__head-tags { }

.new__tag:hover,
.new__tag:focus { }

/*st*/
}

@media(min-width:1024px) {


  .new {}

  .new__body {}

  .new__photo {}

  .new__text {}
  .new__head { }

.new__head-tags { }

.new__tag:hover,
.new__tag:focus { }

/*st*/
}

@media(min-width:1600px) {


  .new {}

  .new__body {}

  .new__photo {}

  .new__text {}
  .new__head { }

.new__head-tags { }

.new__tag:hover,
.new__tag:focus { }

/*st*/
}


/* new end */
