//- All impurities in this file must start with the c block name (new)

mixin new(mods)

  //- Takes:
  //-   text    {string} - òåêñò
  //-   mods    {string} - the list of modifiers
  //- Call:
        +new('Text', 'some-mod')

  -
    // the list of modifiers
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' new--' + modsList[i].trim();
      }
    }

  .new(class=allMods)&attributes(attributes)
    .new__head
      .new__head-tags
        a.new__tag(href="#") #tiraspol
        a.new__tag(href="#") #people
    .new__body
      .new__photo
        img.new__img(src="http://s1.fotokto.ru/photo/full/303/3036458.jpg", alt="#")
      .new__text
        | Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.
    .new__footer
      a.new__footer-more(href="#more") Читать далее
      a.new__footer-like(href="#") Like



