.blocks-library__title {
  font-weight: 400;
}
.blocks-library__item {
  position: relative;
  padding: 1rem;
  margin: 2.5rem 0;
  background: #fff;
  box-shadow: 3px 4px 0 #00000042;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .blocks-library__item {
    padding: 1.5rem 2rem 0.5rem 3rem;
  }
}
.blocks-library__item:before {
  content: "." attr(data-id);
  position: absolute;
  top: -1.2rem;
  left: 0;
  font-weight: 700;
  text-transform: lowercase;
  font-size: 1em;
  line-height: 1;
  height: 1em;
  text-align: right;
  white-space: nowrap;
  color: #cccccc;
}
@media (min-width: 768px) {
  .blocks-library__item:before {
    left: 1.4rem;
    top: 20.5rem;
    width: 21rem;
    transform: rotate(-90deg);
    transform-origin: 0 100%;
  }
}
.blocks-library__item-title {
  margin: 0 0 0.5rem;
}
.blocks-library__item-title-link {
  display: inline-block;
  margin-right: 0.8rem;
}
.blocks-library__item-title-link svg {
  display: block;
  fill: gray;
}
.blocks-library__code-wrapper {
  position: relative;
}
.blocks-library__code-show-trigger {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 0.3em;
}
@media (min-width: 768px) {
  .blocks-library__code-show-trigger {
    position: absolute;
    top: -1.65rem;
    left: -2.5rem;
  }
}
.blocks-library__code-icon {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #cccccc;
}
.blocks-library__code-icon:before, .blocks-library__code-icon:after {
  position: absolute;
  background-color: #cccccc;
  width: 30px;
  height: 3px;
  left: 0;
  content: '';
}
.blocks-library__code-icon:before {
  top: 10px;
}
.blocks-library__code-icon:after {
  top: 20px;
}
.blocks-library__code {
  overflow: hidden;
}
.js .blocks-library__code {
  max-height: 0;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.js .blocks-library__code--shown {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  max-height: 1000px;
}
.blocks-library__code pre {
  max-height: 800px;
}
.blocks-library__menu-toggler {
  position: fixed;
  backface-visibility: hidden;
  bottom: 0;
  left: 0;
  background-color: #000;
  width: 40px;
  height: 40px;
  padding: 5px;
}
.off-canvas--open .blocks-library__menu-toggler {
  display: none;
}
.blocks-library__menu-toggler > span, .blocks-library__menu-toggler > span:before, .blocks-library__menu-toggler > span:after {
  background-color: #fff;
}
