@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bmwcc');
  src:  url('../fonts/icomoon.eot?bmwcc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bmwcc') format('truetype'),
    url('../fonts/icomoon.woff?bmwcc') format('woff'),
    url('../fonts/icomoon.svg?bmwcc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-row-left:before {
  content: "\e901";
}
.icon-row-right:before {
  content: "\e902";
}
.icon-circle:before {
  content: "\e900";
}