.close {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  width: 30px;
  line-height: 30px;
  background: transparent;
  border: none;
  user-select: none;
  cursor: pointer; }
  .close > span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 3px;
    font-size: 0;
    color: transparent;
    background: transparent; }
    .close > span:before, .close > span:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #000;
      transform-origin: 50% 50%; }
    .close > span:before {
      transform: rotate3d(0, 0, 1, 45deg); }
    .close > span:after {
      transform: rotate3d(0, 0, 1, -45deg); }
  .close--sm {
    width: 20px;
    line-height: 20px; }
    .close--sm > span {
      width: 60%; }
      .close--sm > span:before, .close--sm > span:after {
        height: 1px;
        background: #000; }
