/* loadedfiles start */

.loadedfiles {
  margin: -10px 0 -14px 0px;
}

.loadedfiles__list {}

.loadedfiles__item {
  font-family: "GP", san-serif;
  font-size: 14px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.loadedfiles__item + .loadedfiles__item {
    border-top: 1px dotted #d7dbde;
}

.loadedfiles__item>div {
  display: inline-block;
}

.loadedfiles__item-name {
  color: #1d92d2;
  font-weight: bold;
}

.loadedfiles__item-size {
  color: #3a4558;
  margin-left: 5px;
  position: relative;
  top: 1px;
}

.loadedfiles__item-btn {
  width: 32px;
  height: 32px;
  border-radius: 1px;
  background: #1d92d2;
  color: #fff;
  line-height: 35px;
  font-size: 15px;
}

.loadedfiles__item-remove {
  float: right;
  margin-left: auto;
}


.loadedfiles__item-btn:hover,
.loadedfiles__item-btn:focus {

}
/*st*/

@media(min-width:768px) {


  .loadedfiles {
      margin: -5px 0 -21px 0px;
  }

  .loadedfiles__list {}

  .loadedfiles__item {
      font-size: 18px;
  }

  .loadedfiles__item-name {}

  .loadedfiles__item-size {}

  .loadedfiles__item-btn {}

  .loadedfiles__item-remove {
    margin-left: 23px;
  }
  /*st*/
}

@media(min-width:1024px) {


  .loadedfiles {}

  .loadedfiles__list {}

  .loadedfiles__item {}

  .loadedfiles__item-name {}

  .loadedfiles__item-size {}

  .loadedfiles__item-btn {}

  .loadedfiles__item-remove {}
  /*st*/
}

@media(min-width:1280px) {


  .loadedfiles {}

  .loadedfiles__list {}

  .loadedfiles__item {}

  .loadedfiles__item-name {}

  .loadedfiles__item-size {}

  .loadedfiles__item-btn {}

  .loadedfiles__item-remove {}
  /*st*/
}


/* loadedfiles end */
