//- Все примеси в этом файле должны начинаться c имени блока (loadedfiles)

mixin loadedfiles(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +loadedfiles('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' loadedfiles--' + modsList[i].trim();
      }
    }

  .loadedfiles(class=allMods)&attributes(attributes)
    .loadedfiles__list
      .loadedfiles__item
        .loadedfiles__item-name Название документа.jpg
        .loadedfiles__item-size (1,2 mb)
        .loadedfiles__item-remove
          button.loadedfiles__item-btn(href="#")
            span.icon-close

      .loadedfiles__item
        .loadedfiles__item-name Название документа.jpg
        .loadedfiles__item-size (1,2 mb)
        .loadedfiles__item-remove
          button.loadedfiles__item-btn(href="#")
            span.icon-close

