.label {
  display: inline-block;
  position: relative;
  margin: 0 0.1em;
  vertical-align: baseline;
  line-height: 1;
  padding: 0.25em 0.4em 0.2em;
  background-color: #e6e6e6;
  color: #1a1a1a;
  text-decoration: none;
  text-transform: none;
  font-weight: 700;
  font-size: 80%;
  white-space: nowrap;
  border-radius: rem(3px); }
  .label:hover, .label:focus {
    color: #1a1a1a;
    text-decoration: none; }
