.menu {
  min-width: 10em;
  margin: 0;
  padding: 0;
  list-style: none; }
  .menu__item--separator:not(:last-child) {
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
    border-bottom: 1px solid #999999; }
  .menu__link {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 1rem;
    color: #1a1a1a;
    text-decoration: none; }
    .menu__link:hover, .menu__link:focus {
      text-decoration: none;
      background-color: #e6e6e6; }
