.burger {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  width: 30px;
  line-height: 30px;
  background: transparent;
  border: none;
  user-select: none;
  cursor: pointer; }
  .burger > span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 3px;
    font-size: 0;
    color: transparent;
    background: #000;
    transition: background 0.3s 0.3s; }
    .burger > span:before, .burger > span:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background: #000;
      transform-origin: 50% 50%;
      transition: top 0.3s 0.3s, transform 0.3s; }
    .burger > span:before {
      top: -10px; }
    .burger > span:after {
      top: 10px; }
  .burger--close > span {
    transition: background 0.3s 0s;
    background: transparent; }
    .burger--close > span:before, .burger--close > span:after {
      transition: top 0.3s, transform 0.3s 0.3s;
      top: 0; }
    .burger--close > span:before {
      transform: rotate3d(0, 0, 1, 45deg); }
    .burger--close > span:after {
      transform: rotate3d(0, 0, 1, -45deg); }
