.field-toggler {
  display: block;
  margin-bottom: 1rem; }
  .field-toggler__title {
    display: block;
    margin-bottom: 0.4em;
    line-height: 1.5;
    font-weight: 700; }
  .field-toggler__input-wrap + .field-toggler__input-wrap {
    margin-top: 1rem; }
  .field-toggler__name {
    position: relative;
    display: inline-block;
    padding-left: 3.2rem;
    margin-right: 0.6rem;
    font-weight: 400;
    line-height: 1.5; }
  .field-toggler__name-text {
    display: inline-block; }
    .field-toggler__name-text:before {
      content: '';
      position: absolute;
      top: rem(3px);
      left: 0;
      width: rem(35px);
      height: rem(18px);
      background-color: #fff;
      border: 1px solid #999999; }
      input:focus ~ .field-toggler__name-text:before {
        outline: 0;
        box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7); }
    .field-toggler__name-text:after {
      content: '';
      position: absolute;
      top: rem(5px);
      left: 2px;
      width: rem(14px);
      height: rem(14px);
      background-color: #e6e6e6;
      border: 1px solid #999999;
      transition: all 0.3s; }
    input:checked ~ .field-toggler__name-text:after {
      transform: translate(rem(17px), 0); }
  .field-toggler__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0; }
  .field-toggler__help-text-wrap {
    padding-left: 3.2em; }
  .field-toggler__help-text {
    display: block;
    padding-top: 0.4em;
    font-size: 80%;
    line-height: 1.2em;
    color: gray; }
    .field-toggler__help-text:empty {
      display: none; }
