.form__fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }
  .form__fieldset:not(:last-child) {
    margin-bottom: 1rem; }

.form__legend {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: rem(24px);
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  line-height: 1.5;
  white-space: normal;
  color: currentColor; }
