.fields-group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 1rem; }
  .fields-group .btn,
  .fields-group select,
  .fields-group input {
    position: relative;
    margin: 0; }
    .fields-group .btn:focus,
    .fields-group select:focus,
    .fields-group input:focus {
      position: relative;
      z-index: 1; }
  .fields-group .field-actions,
  .fields-group .field-text {
    margin: 0; }
  .fields-group .field-actions:not(:last-child) .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .fields-group .field-actions:not(:first-child) .btn {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .fields-group .field-actions .btn:focus {
    z-index: 1; }
  .fields-group .field-text:not(:last-child) .field-text__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .fields-group .field-text:not(:first-child) .field-text__input {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
