/* field checkbox horizontal start */

/*s*/
.field-checkbox--horizontal {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.field-checkbox--horizontal .field-checkbox__input-wrap{
  margin: 0;

}

.field-checkbox--horizontal .field-checkbox__input-wrap + .field-checkbox__input-wrap {
  margin-left: 24px;
}
/*e*/
@media(min-width:768px){
  /*s*/

  /*e*/
}
@media(min-width:1024px){
  /*s*/

  /*e*/
}
@media(min-width:1280px){
  /*s*/

  /*e*/
}
@media(min-width:1600px){
  /*s*/

  /*e*/
}

/* field checkbox horizontal end */
