.field-checkbox {
  display: block;
  padding-bottom: 4px;
}

.field-checkbox__title {
  display: block;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.4em;
}

.field-checkbox__input-wrap+.field-checkbox__input-wrap {
  margin-top: 23px;
}

.field-checkbox__name {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  /* margin-right: 0.6em; */
  font-weight: 400;
  line-height: 1.2;
}

.field-checkbox__name-text {
  display: inline-block;
}

.field-checkbox__name-text:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #e7e7e6;
  border-radius: 4px;
  background: #fff;
}

input:focus~.field-checkbox__name-text:before {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7);
}

.field-checkbox__name-text:after {
  content: "\e902";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 16px;
  height: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  color: #fff;
}

input:checked~.field-checkbox__name-text:after {
  opacity: 1;
}

input:checked~.field-checkbox__name-text:before {
  background: #18428c;
  border-color: #18428c;
}

.field-checkbox__input {
  position: absolute;
  top: 0.8em;
  left: 0;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  opacity: 0;
}

.field-checkbox__input:focus,
.field-checkbox__input:active {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7);
}

.field-checkbox__help-text-wrap {
  padding-left: 1.5em;
}

.field-checkbox__help-text {
  display: block;
  padding-top: 0.4em;
  font-size: 80%;
  line-height: 1.2em;
  color: gray;
}

.field-checkbox__help-text:empty {
  display: none;
}


@media(min-width:768px){

  .field-checkbox {
  }

  .field-checkbox__title {
  }

  .field-checkbox__input-wrap+.field-checkbox__input-wrap {
  margin-top: 21px;
  }

  .field-checkbox__name {
  padding-left: 39px;
  }

  .field-checkbox__name-text {
  }

  .field-checkbox__name-text:before {
  top: -1px;
  }

  input:focus~.field-checkbox__name-text:before {
  }

  .field-checkbox__name-text:after {
  top: 7px;
  }



  .field-checkbox__input {
  }


  .field-checkbox__help-text-wrap {
  }

  .field-checkbox__help-text {
  }

  .field-checkbox__help-text:empty {
  }


}
